{% comment %}
<a href="{{ "/" | relative_url }}">
  <img class="logo"
    src="{{ "/assets/images/icon-logo-250w.png" | relative_url }}"
    srcset="{{ "/assets/images/icon-logo-250w.png" | relative_url }} 250w,
      {{ "/assets/images/icon-logo-200w.png" | relative_url }} 200w,
      {{ "/assets/images/icon-logo-150w.png" | relative_url }} 150w,
      {{ "/assets/images/icon-logo-100w.png" | relative_url }} 100w"
    alt="Biased Movies Logo">
</a>
{% endcomment %}

<a href="{{ "/" | relative_url }}" style="display:inline-block;">
  <div id="logo-div" class="logo-div">
    <img id="logo" class="logo"
      src="{{ '/assets/images/movie-thoughts-logo.png' | relative_url }}"
      alt="Movie Thoughts Logo">

    <span class="logo site-title">
      {{ site.title | escape | replace: ' ', '<br>' }}
    </span>
  </div>
</a>

<script type="text/javascript">
  /*
   * Logo Hover Animation
   */
   
  let div = document.getElementById('logo-div');

  div.onmouseout = function () {
    let img = document.getElementById('logo');
    img.src = "{{ '/assets/images/movie-thoughts-logo.png' | relative_url }}";
  };

  div.onmouseover = function () {
    let img = document.getElementById('logo');
    img.src = "{{ '/assets/images/movie-thoughts-logo-animation.gif' | relative_url }}";
  };
</script>
