{% comment %}
Parameters:
  - pageNum:          current page number
  - totalPages:       number of total pages
  - nextPagePath:     url of next page
  - previousPagePath: url of previous page
{% endcomment %}

<!-- include.nextPagePath: {{ include.nextPagePath }} -->
<!-- include.previousPagePath: {{ include.previousPagePath }} -->

<div class="pagination">

  {% if include.previousPagePath %}
    <a href="{{ include.previousPagePath }}" class="previous">Previous</a>
  {% else %}
    <span class="previous disabled-link">Previous</span>
  {% endif %}

  <span class="page-number ">Page: {{ include.pageNum }} of {{ include.totalPages }}</span>

  {% if include.nextPagePath %}
    <a href="{{ include.nextPagePath }}" class="next">Next</a>
  {% else %}
    <span class="next disabled-link">Next</span>
  {% endif %}

</div>
