{% comment %}
  Input:
    - pageTag: tag for each page
    - previewType: [type] of (default, image, trailer)
{% endcomment %}

<ul class="post-list">

  {% for post in paginator.posts %}

    {% assign onPage = false %}

    {% if include.pageTag %}

      {% comment %} Check if post has a tag matching one of page tags {% endcomment %}
      {% for postTag in post.tags %}

        {% if include.pageTag == postTag %}
          {% assign onPage = true %}
        {% endif %}

      {% endfor %}

    {% else %}

      {% comment %} No page tag {% endcomment %}
      {% assign onPage = true %}

    {% endif %}

    {% if onPage %}
      <li>
        {% include post-preview.html post=post type=include.previewType %}
      </li>
    {% endif %}

  {% endfor %}
</ul>

{% include pagination.html
  pageNum=paginator.page
  totalPages=paginator.total_pages
  nextPagePath=paginator.next_page_path
  previousPagePath=paginator.previous_page_path %}
