{% comment %}
{% endcomment %}

<!-- Trailer List Page {{ page.page }}-->

{% assign perPage = include.per_page %}
{% assign pageNum = page.page_num %}
{% assign offset = pageNum | minus: 1 | times: perPage %}

<ul class="post-list">
  {% for post in site.categories.trailers offset:offset limit:perPage %}

    <li>
      {% include post-preview.html post=post type='trailer' %}
    </li>

  {% endfor %}
</ul>

{% comment %}
  Pagination
{% endcomment %}
{% assign totalPages = site.categories.trailers | size | times: 1.0 | divided_by: perPage | ceil | times: 1 %}

<!-- pageNum: {{ pageNum }} -->
<!-- totalPages: {{ totalPages }} -->

{% comment %} Get [nextPagePath] {% endcomment %}
{% if pageNum < totalPages %}
  {% assign nextPage = pageNum | plus: 1 %}
  {% if pageNum != 1 %}
    {% assign nextPagePath = page.url | replace: pageNum, nextPage %}
  {% else %}
    {% assign nextPagePath = page.url | append: 'page' | append: nextPage %}
  {% endif %}
{% endif %}

{% comment %} Get [previousPagePath] {% endcomment %}
{% if 1 < pageNum %}
  {% assign previousPage = pageNum | minus: 1 %}
  {% if previousPage != 1 %}
    {% assign previousPagePath = page.url | replace: pageNum, previousPage %}
  {% else %}
    {% assign previousPagePath = page.url | split: '/' | pop | join: '/' %}
  {% endif %}
{% endif %}

<!-- nextPage: {{ nextPage }} -->
<!-- nextPagePath: {{ nextPagePath }} -->
<!-- previousPage: {{ previousPage }} -->
<!-- previousPagePath: {{ previousPagePath }} -->

<div class="pagination">

  {% if previousPagePath %}
    <a href="{{ previousPagePath }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}

  <span class="page_number ">Page: {{ pageNum }} of {{ totalPages }}</span>

  {% if nextPagePath %}
    <a href="{{ nextPagePath }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}

</div>
